<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.price_comparison">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".Cart"
            android:label="@string/cart_toolbar_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation"
            />
        <activity
            android:name=".ScannedProduct"
            android:label="@string/find_cheapest_toolbar_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".UserMode"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/UserTheme"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".SelectMode"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Vertical camera -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".FindCheapest"
            android:label="@string/find_cheapest_toolbar_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".Database"
            android:label="@string/database_toolbar_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".Scanner"
            android:label="@string/scanner_toolbar_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".GodMode"
            android:label="@string/main_toolbar_name"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".GPSTrackerActivity"
            android:stateNotNeeded="true" />
    </application>

</manifest>